<configuration>
  <system.webServer>

    <defaultDocument enabled="true">
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>


    <rewrite>
      <rules>
        <rule name="appjs" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js" />
        </rule>
        <rule name="etdb" >
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode promoteServerVars="AUTH_USER,AUTH_TYPE"
             watchedFiles="*.js;routes/*.js;views/*.jade" />


  </system.webServer>
</configuration>
