extends layout

block content
  .container
    .row-fluid
      .span12
        h2 Coffee Performance Metrics
    .row-fluid
        .span12
          h3 DO Stats
    .row-fluid
        .span12#DOStats
    .row-fluid
        .span12
          h3 Leaderboards
        .span12#leaderboards    

block jscripts
  script(src='/coffee/javascripts/stats.js')
