extends layout

block content
  .container
    .row-fluid
      .span12
        h2 Performance Metrics
    .row-fluid
        .span12
          h3 DO Stats
    .row-fluid
        .span3
          h4 Total
          p#totalCoffees
        .span9#monthlyTotals
    .row-fluid
        .span12#flavourTotals
    .row-fluid
        .span12
          h3 Leaderboards
        .span12
            h4 Number of Coffees
        .span12#quantityLeaderboard
        .span12
            h4 Total intensosity
        .span12#intensityLeaderboard
    .row-fluid
        .span12
          h3 Hall of Fame
        .span12
          h4 Awards
        .span12#awards


block jscripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.js')
  script(src='/javascripts/stats.js')
  link(rel='stylesheet',href='/stylesheets/stats.css')
