

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 60px;
  padding-bottom:40px;
}

.capsuleImage{
  width:50px;
}

.table tr.vcenter > td.vcenter{
vertical-align:middle !important;
}

.table tr.vcenter input.incenter{
  margin-bottom:0;
}
#infoAlert{
  display:none;
}

ul.nav>li{
  padding:10px 15px 10px 15px;
  color:#999;
}

input:invalid{
  color: #b94a48;
  border-color: #ee5f5b;
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

table div.rotated {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    writing-mode:tb-rl;
    white-space: nowrap;
}

thead th {
    vertical-align: top;
}

table .vertical {
    white-space: nowrap;
}

.paybox {
  width:50px;
}


